{namespace tp=DW\Trainingsplatz\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">

<f:if condition="{settings.showNavigation}">
    <div class="tp-navi">
        <f:if condition="{filter}==0">
            <f:then>
                <f:image src="fileadmin/images/training/alle-schwarz.png" alt="Alle Trainings anzeigen" additionalAttributes="{title:'Alle Trainings anzeigen'}" class="active" />
            </f:then>
            <f:else>
                <f:link.action action="list" arguments="{filter:0}">
                    <f:image src="fileadmin/images/training/alle-schwarz.png" alt="Alle Trainings anzeigen" additionalAttributes="{title:'Alle Trainings anzeigen'}" />
                </f:link.action>
            </f:else>
        </f:if>
        <f:for each="{sports}" as="sport">
            <f:if condition="{filter}=={sport.uid}">
                <f:then>
                    <f:image image="{sport.picture}" alt="Nur {sport.title}-Trainings anzeigen" additionalAttributes="{title:'Nur {sport.title}-Trainings anzeigen'}" class="active" />
                </f:then>
                <f:else>
                    <f:link.action action="list" arguments="{filter:sport.uid}">
                        <f:image image="{sport.picture}" alt="Nur {sport.title}-Trainings anzeigen" additionalAttributes="{title:'Nur {sport.title}-Trainings anzeigen'}" />
                    </f:link.action>
                </f:else>
            </f:if>
        </f:for>
        
        <div class="pull-right visible-lg visible-md">
            <f:security.ifHasRole role="{settings.usergroupAdmin}">
                <f:link.page pageUid="90"><f:image src="fileadmin/images/training/infomail.png" alt="InfoMails versenden" additionalAttributes="{title:'InfoMails versenden'}" /></f:link.page>
                <f:link.action action="evaluate" pageUid="{settings.evalPid}"><f:image src="fileadmin/images/training/abrechnung.png" alt="Trainings abrechnen" additionalAttributes="{title:'Trainings abrechnen'}" /></f:link.action>
            </f:security.ifHasRole>
            <f:security.ifHasRole role="{settings.usergroupMember}">
                <f:link.action action="new" pageUid="{settings.newPid}"><f:image src="fileadmin/images/training/plus.png" alt="Neues Training erstellen" additionalAttributes="{title:'Neues Training erstellen'}" /></f:link.action>
            </f:security.ifHasRole>
            <f:link.page pageUid="{settings.rulesPid}"><f:image src="fileadmin/images/training/paragraph.png" alt="Regeln zu Trainings" additionalAttributes="{title:'Regeln zu Trainings'}" /></f:link.page>
            <f:link.page pageUid="{settings.helpPid}"><f:image src="fileadmin/images/training/fragezeichen.png" alt="Zeichenerklärung" additionalAttributes="{title:'Zeichenerklärung'}" /></f:link.page>
        </div>
        <div class="visible-sm visible-xs">
            <f:security.ifHasRole role="{settings.usergroupAdmin}">
                <f:link.page pageUid="90"><f:image src="fileadmin/images/training/infomail.png" alt="InfoMails versenden" additionalAttributes="{title:'InfoMails versenden'}" /></f:link.page>
                <f:link.action action="evaluate" pageUid="{settings.evalPid}"><f:image src="fileadmin/images/training/abrechnung.png" alt="Trainings abrechnen" additionalAttributes="{title:'Trainings abrechnen'}" /></f:link.action>
            </f:security.ifHasRole>
            <f:security.ifHasRole role="{settings.usergroupMember}">
                <f:link.action action="new" pageUid="{settings.newPid}"><f:image src="fileadmin/images/training/plus.png" alt="Neues Training erstellen" additionalAttributes="{title:'Neues Training erstellen'}" /></f:link.action>
            </f:security.ifHasRole>
            <f:link.page pageUid="{settings.rulesPid}"><f:image src="fileadmin/images/training/paragraph.png" alt="Regeln zu Trainings" additionalAttributes="{title:'Regeln zu Trainings'}" /></f:link.page>
            <f:link.page pageUid="{settings.helpPid}"><f:image src="fileadmin/images/training/fragezeichen.png" alt="Zeichenerklärung" additionalAttributes="{title:'Zeichenerklärung'}" /></f:link.page>
        </div>
    </div>    
    <p>&nbsp;</p>
</f:if>

<f:if condition="{trainings}">
	<f:then>
    	<f:if condition="{pagination}">
            <ul class="pagination">
                <f:for each="{pagination}" as="page">
                    <li class="{page.status}"><f:link.action action="list" arguments="{filter:filter,currentPage:page.pageNo}">{page.label}</f:link.action></li>
                </f:for>
            </ul>
        </f:if>
    	<f:switch expression="{settings.format}">
        	<f:case value="0"><f:render partial="Training/SingleFull" arguments="{trainings:trainings,answers:answers,settings:settings}" /></f:case>
            <f:case value="1"><f:render partial="Training/SingleCompact" arguments="{trainings:trainings,answers:answers,settings:settings}" /></f:case>
    	</f:switch>
    	<f:if condition="{pagination}">
            <ul class="pagination">
                <f:for each="{pagination}" as="page">
                    <li class="{page.status}"><f:link.action action="list" arguments="{filter:filter,currentPage:page.pageNo}">{page.label}</f:link.action></li>
                </f:for>
            </ul>
        </f:if>
	</f:then>
	<f:else>
		<f:if condition="{filter}==0">
			<f:then>
				<div class="alert alert-danger">Zurzeit sind keine Trainings ausgeschrieben</div>
			</f:then>
			<f:else>
				<div class="alert alert-danger">Zurzeit sind keine Trainings dieser Sportart ausgeschrieben</div>
			</f:else>
		</f:if>
	</f:else>
</f:if>

</f:section>