{namespace tp=DW\Trainingsplatz\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">

<f:if condition="{trainings}">
	<f:then>
		<table class="table" >
			<f:for each="{trainings}" as="training">
				<tr>
					<td style="width:150px">
						<f:render partial="Training/Icons" arguments="{training:training}" />
					</td>
					<td>
						<f:link.action action="show" pluginName="Tp" pageUid="{settings.singlePid}" arguments="{training:training}">{training.title->f:format.crop(maxCharacters:45)}</f:link.action><br />
						<tp:objectAccess haystack="{answers}" needle="{training.uid}" /> Teilnehmer
					</td>
					<td class="text-right hidden-xs hidden-md">
						<f:render partial="Training/Avatar" arguments="{training:training,style:'margin-left:10px',settings:settings}" />
					</td>
				</tr>
			</f:for>
		</table>
	</f:then>
	<f:else>
		<f:if condition="{filter}==0">
			<f:then>
				<div class="alert alert-danger">Zurzeit sind keine Trainings ausgeschrieben</div>
			</f:then>
			<f:else>
				<div class="alert alert-danger">Zurzeit sind keine Trainings dieser Sportart ausgeschrieben</div>
			</f:else>
		</f:if>
	</f:else>
</f:if>

</f:section>