<f:layout name="Default" />

<f:section name="main">
<f:flashMessages as="flashMessages">
	<f:for each="{flashMessages}" as="flashMessage">
		<f:render partial="Alert" arguments="{severity:flashMessage.severity,title:flashMessage.title,message:flashMessage.message}" />
	</f:for>
</f:flashMessages>

<f:render partial="Training/Description" arguments="{training:training}" />
<f:render partial="Training/Buttons" arguments="{training:training,feuser:feuser,answers:answers,settings:settings,filter:filter}" />

<p>&nbsp;</p>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<f:render partial="Training/ParticipantList" arguments="{_all}" />
	</div>
	<div class="col-md-6 col-xs-12">
		<f:render partial="Training/ParticipantForm" arguments="{_all}" />
	</div>
</div>

</f:section>