{namespace tp=DW\Trainingsplatz\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">

<h3>
	<f:if condition="me">
    	<f:then>Deine Auswertung</f:then>
        <f:else>Auswertung von {user.name}</f:else>
    </f:if>
    <f:if condition="{endDate}">
    	<f:then>zwischen {startDate->f:format.date(format:'d.m.Y')} und {endDate->f:format.date(format:'d.m.Y')}:</f:then>
        <f:else>seit {startDate->f:format.date(format:'d.m.Y')}:</f:else>
    </f:if>
    <f:if condition="{settings.thresholdTrainings}>0">
    	<f:then><span class="label label-{f:if(condition:"{count.trainings}<{settings.thresholdTrainings}",then:"default",else:"success")}">{count.trainings} Trainings</span></f:then>
        <f:else>{count.trainings} Trainings</f:else>
    </f:if>
    <f:if condition="{settings.thresholdAnswers}>0">
    	<f:then><span class="label label-{f:if(condition:"{count.answers}<{settings.thresholdAnswers}",then:"default",else:"success")}">{count.answers} Teilnehmer</span></f:then>
        <f:else>{count.answers} Teilnehmer</f:else>
    </f:if>
</h3>

<f:if condition="{list}">
	<f:then>
		<table class="table">
			<tr>
				<th>Datum</th>
				<th>Training</th>
				<th>Teilnehmende</th>
			</tr>
			<f:for each="{list}" as="line">
				<tr>
					<td>{line.training.trainingDate->f:format.date(format:'d.m.Y')}</td>
					<td>{line.training.title}</td>
					<td>
						<f:for each="{line.answers}" as="answer">
							{answer.author}<br />
						</f:for>
					</td>
				</tr>
			</f:for>
		</table>
	</f:then>
	<f:else>
		<p>Keine ausgewerteten Trainings gefunden</p>
	</f:else>
</f:if>

<f:if condition="{settings.memberProfilPage}">
	<f:link.page pageUid="{settings.memberProfilPage}" title="Zu meinem Mitglieder-Profil" class="btn btn-primary">Mein Profil</f:link.page> &nbsp; &nbsp;
</f:if>

</f:section>

