{namespace tp=DW\Trainingsplatz\ViewHelpers}

<div id="Karte" style="width:100%; height:450px; margin-bottom:20px;"></div>

<f:asset.script identifier="GoogleMapsJS" src="//maps.googleapis.com/maps/api/js?key={settings.googleMapsKey}&v=weekly&libraries=marker" />
<f:asset.script identifier="GoogleMapsShow" src="EXT:trainingsplatz/Resources/Public/Javascript/gmap_show.js" />
<f:asset.script identifier="GoogleMapsJSInline">
	TPcenter = new google.maps.LatLng {training.mapCenter};
	TPzoom = {training.mapZoom};
	TPtreffpunkt = new google.maps.LatLng {training.startCoordinates};
    initialize();
</f:asset.script>
