
<table class="tx-trainingsplatz" >
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_training.author" />
		</td>
		<td>
		{training.author}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_training.leader" />
		</td>
		<td>
		{training.leader}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_training.creation_date" />
		</td>
		<td>
		{training.creationDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_training.last_change" />
		</td>
		<td>
		{training.lastChange -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_training.training_date" />
		</td>
		<td>
		{training.trainingDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_training.guided" />
		</td>
		<td>
		{training.guided}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_training.title" />
		</td>
		<td>
		{training.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_training.description" />
		</td>
		<td>
		{training.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_training.start_text" />
		</td>
		<td>
		{training.startText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_training.start_coordinates" />
		</td>
		<td>
		{training.startCoordinates}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_training.duration" />
		</td>
		<td>
		{training.duration}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_training.distance" />
		</td>
		<td>
		{training.distance}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_training.speed" />
		</td>
		<td>
		{training.speed}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_training.route" />
		</td>
		<td>
		{training.route}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_training.picture" />
		</td>
		<td>
		{training.picture}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_training.cancelled" />
		</td>
		<td>
		{training.cancelled}
		</td>
	</tr>
</table>