{namespace tp=DW\Trainingsplatz\ViewHelpers}

<div class="col-sm-offset-0 col-xs-offset-0">
	<div class="row">
    	<f:comment>
		<div class="form-group">
			<label for="route" class="col-sm-2 col-xs-3 control-label">Route</label>
			<div class="col-sm-10 col-xs-9">
				<f:form.select property="map" options="{maps}" optionLabelField="title" prependOptionLabel="(keine Route)" prependOptionValue="0" id="route" class="form-control" additionalAttributes="{onchange: 'changeRoute()'}" />
			</div>
		</div>
        </f:comment>
		<div class="form-group">
			<label for="meetingpoint" class="col-sm-2 col-xs-3 control-label">Treffpunkt</label>
			<div class="col-sm-10 col-xs-9">
				<div class="radio-inline">
					<f:form.radio property="startOption" checked="{training.startOption}==1" value="1" additionalAttributes="{onchange: 'changeMeetingPoint()'}" />Auf Karte einzeichnen
				</div>
                <f:comment>
				<div class="radio-inline">
					<f:form.radio property="startOption" checked="{training.startOption}==2" value="2" disabled="true" id="meetingpointAtStart" additionalAttributes="{onchange: 'changeMeetingPoint()'}" />Am Startpunkt der Strecke
				</div>
                </f:comment>
				<div class="radio-inline">
					<f:form.radio property="startOption" checked="{training.startOption}==0" value="0" id="meetingpointNone" additionalAttributes="{onchange: 'changeMeetingPoint()'}" />Nicht einzeichnen
				</div>
			</div>
		</div>
	</div>
	<f:form.hidden property="startCoordinates" />
	<f:form.hidden property="mapType" />
	<f:form.hidden property="mapCenter" />
	<f:form.hidden property="mapZoom" />
	<div id="Karte" style="width:100%; height:450px"></div>
    <br />
    
    <f:asset.script identifier="GoogleMapsJS" src="//maps.googleapis.com/maps/api/js?key={settings.googleMapsKey}&v=weekly&libraries=marker" />
    <f:asset.script identifier="GoogleMapsJSEditor" src="EXT:trainingsplatz/Resources/Public/Javascript/gmap_newtraining.js" />
    <f:asset.script identifier="GoogleMapsJSInline">
        <f:if condition="{training.mapCenter}">TPcenter = new google.maps.LatLng {training.mapCenter};</f:if>
        <f:if condition="{training.mapZoom}">TPzoom = {training.mapZoom};</f:if>
        <f:if condition="{training.startCoordinates}">TPtreffpunkt = new google.maps.LatLng {training.startCoordinates};</f:if>
	    initialize();
    </f:asset.script>
</div>