
<table class="tx-trainingsplatz" >
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_answer.creation_date" />
		</td>
		<td>
		{answer.creationDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_answer.change_date" />
		</td>
		<td>
		{answer.changeDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_answer.author" />
		</td>
		<td>
		{answer.author}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_answer.title" />
		</td>
		<td>
		{answer.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_answer.description" />
		</td>
		<td>
		{answer.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_answer.cancelled" />
		</td>
		<td>
		{answer.cancelled}
		</td>
	</tr>
</table>