<f:layout name="Default" />

<f:section name="main">
<f:if condition="{member}">
	<f:then>
		<h2>Mail-Nachricht an {member.name}</h2>
		
		<f:if condition="{sent}==0">
			<f:then>
				<f:form action="messageSend" name="message" class="form-horizontal">
					<f:form.hidden name="member" value="{member.uid}" />
					<div class="row">
						<div class="form-group">
							<label class="col-sm-2 col-xs-3 control-label">Hinweis</label>
							<div class="col-sm-9 col-xs-8">
								<p class="form-control-static">Das E-Mail wird mit deinem Namen und deiner Mail-Adresse als Absender verfasst.</p>
							</div>
						</div>
						<div class="form-group">
							<label for="subject" class="col-sm-2 col-xs-3 control-label">Betreff</label>
							<div class="col-sm-9 col-xs-8">
								<f:form.textfield name="subject" maxlength="60" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label for="content" class="col-sm-2 col-xs-3 control-label">Inhalt</label>
							<div class="col-sm-9 col-xs-8">
								<f:form.textarea name="content" rows="10" class="form-control" />
							</div>
						</div>
						<div class="col-sm-9 col-sm-offset-2 col-xs-8 col-xs-offset-3">
							<a href="javascript:history.go(-1)" class="btn btn-default">Abbrechen</a> &nbsp; 
							<f:form.submit value="Senden" class="btn btn-primary" />
						</div>
					</div>
				</f:form>
			</f:then>
			<f:else>
				<f:link.action action="show" arguments="{user:member}" extensionName="femanager" pluginName="List" controller="User" pageUid="{settings.userlistPid}" class="btn btn-primary">Zurück zum Profil</f:link.action>
			</f:else>
		</f:if>
		
	</f:then>
	<f:else>
		<div class="alert alert-warning"><b>Hinweis:</b> Kein Mitglied ausgewählt</div>
		<a href="javascript:history.go(-1)" class="btn btn-default">Zurück</a>
	</f:else>
</f:if>

</f:section>