
<label for="title">
	<f:translate key="tx_trainingsplatz_domain_model_map.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="description">
	<f:translate key="tx_trainingsplatz_domain_model_map.description" />
</label><br />
	<f:form.textfield property="description" /><br />
<label for="route">
	<f:translate key="tx_trainingsplatz_domain_model_map.route" />
</label><br />
	<f:form.textarea property="route" cols="40" rows="15" /><br />
<label for="author">
	<f:translate key="tx_trainingsplatz_domain_model_map.author" />
</label><br />
	<f:form.textfield property="author" /><br />
<label for="center">
	<f:translate key="tx_trainingsplatz_domain_model_map.center" />
</label><br />
	<f:form.textfield property="center" /><br />
<label for="zoom">
	<f:translate key="tx_trainingsplatz_domain_model_map.zoom" />
</label><br />
	<f:form.textfield property="zoom" /><br />