
<table class="tx-trainingsplatz" >
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_map.title" />
		</td>
		<td>
		{map.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_map.description" />
		</td>
		<td>
		{map.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_map.route" />
		</td>
		<td>
		{map.route}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_map.author" />
		</td>
		<td>
		{map.author}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_map.center" />
		</td>
		<td>
		{map.center}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_trainingsplatz_domain_model_map.zoom" />
		</td>
		<td>
		{map.zoom}
		</td>
	</tr>
</table>